* {box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body {    
    margin: 0;
    margin-top: -20px;
    background: url('/anh/xe.jpg') no-repeat fixed center center;
    background-clip: border-box;
    background-size: 100vw 130vh;
}
#header {
    position: relative;
    width: 100%;
    height: 12vh;
    background-image: linear-gradient(to top, #60a3a3 0%, #664096 100%);
}
.title {
    position: absolute;
    display: inline-block;
    width: 38%;
    height: 6vh;
    margin: 6vh;
    margin-left: 31%;
    top: -3vh;
}
 h1 {
    text-align: center;
    color: black;
}
#nav {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    height: 6vh;
}
.left {
    margin-top: 0.5vh;
    margin-left: 8%;
}
.home {
    border-radius: 20px;
    background: url('/anh/house.jpg') no-repeat;
    background-size: 100% 5vh;
    background-clip: border-box;
    display: inline-block;
    width: 13.5%;
    height: 5vh;
    text-decoration: none;
}
.home:hover {
    background-image: url('/anh/OIP.jpg');
}
.center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.center p {
    width: 10%;
    height: 6vh;
    margin-top: 0;
}
.link a {
    display: inline-block;
    width: 100%;
    height: 6vh;
    color: black;
    font-size: x-large;
    text-decoration: none;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
}
.link a:hover {
    background-color: black;
    color: white;
    border-radius: 15px;
}
.section2 {
    display: flex;
    width: 100%;
    height: 85vh;
    background-size: 100% 85vh;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 11vh;
}
.intro {
    width: 20%;
    height: 52vh;
    border-radius: 30px;
}
.left-section2 {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.center-section2 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.right-section2 {
    background-color: #FBAB7E;
    background-image: linear-gradient(213deg, #FBAB7E 0%, #F7CE68 100%);
}
.section1 {
    width: 100%;
    height: 174vh;
    padding-top: 23vh;
}
#start {
    width: 100%;
    height: 30vh;
    background:rgba(0, 0, 0, 0.6);
    padding: 2vh;
}
#start h2 {
    font-size: xx-large;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 5vh;
}
#start p {
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
}
#footer {
    
}
@media screen and (max-width: 1300px) {
    .center p {
        width: 20%;
    } 
}