*{
    box-sizing: border-box;
    margin: 0px;
}
#header{
    text-align: center;
    height: 20vh;
    font-size:x-large;
}
#title{
    height: 12vh;
    padding-top: 5vh;
}
#nav{
    height: 5vh;
    background-color: gray;
}
li {
    list-style-type: none;
    margin: 0px;
    float: left;
    width: 14.5vw;
    text-align: center;
    height: 5vh;
}
li.house, li.se, li.lang{
    width: 3vw;
}
#menu a{
    padding: 1.4vh 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size:larger;
}
a:hover {
    background-color: green;
    color: black;
}
#section {
    width: 21vw;
    float: left;
    background-color: rgb(180, 180, 175);
    height: 60vh;
}
#section h1{
    padding-top: 2vh;
    text-align: center;
    padding-bottom: 2vh;

}
.left li{
    list-style-type: none;
    margin: 0px;
    float: none;
    width: 100%;
}
.left a{
    color: black;
    padding: 1.4vh 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size:1.8rem;
    text-align: left;

}
.left a:hover{
    background-color: rgb(43, 39, 39);
    color: white;
}
#main{
    background-color: white;
    width: 77.8vw;
    height: 60vh;
    padding: 2vh;
    float: right;
}
#market{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}
#main a{
    font-size: xx-large;
}
#parap{
    width: 100%;
    height: 27vh;
    border: 1px solid black;
}
#parap p{
    font-size: x-large;
    line-height: 4rem;
}